*{
    margin: 0;
    padding: 0;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}

header {
    position: relative;
    width: 1440px;
    height: 250px;
}

.header__banner {
    position: relative;
    width: 100%;
}

#header--banner-img {
    position: absolute;
    width: 900px;
    left: 300px;
}

header h1 {
    position: absolute;
    width: 100%;
    text-align: center;
    top: 80px;
}

.header__logOut {
    position: relative;
}

#header--user1--img {
    width: 100px;
    height: 100px;
    position: absolute;
    right: 50px;
}

header input{
    width: 100px;
    height: 50px;
    color: white;
    background-color: rgb(71, 71, 236);
    border-radius: 5px;
    border: none;
    position: absolute;
    right: 50px;
    top: 130px;
} 
#username{
    position: absolute;
    top: 110px;
    right: 100px;
    transform: translateX(50%);
}
section ul{
    display: flex;
    height: 50px;
    width: 900px;
    background-color: #f1f1f1;
    border: none;
    border-radius: 10px;
    margin-left: 300px;
}

section {

    width: 1440px;
    height: 500px;
}

section li{
    list-style-type: none;
    width: 200px;
    height: 50px;
    font-size: 20px;
    padding-top: 10px;
    padding-left: 75px;
}

section li a{
    color: black;
    text-decoration: none;
    text-align: center;
}



.section_box {
    position: relative;
    left: 300px;
    top: 30px;
    width: 900px;
    min-height: 200px;
    height: auto;
    border: green 2px solid;
    padding: 10px 0 10px 0;
}

.section__buttonInside {
    display: flex;
    position: relative;
    margin-left: 600px;
    margin-top: -25px;
}

#editButton {
    width: 100px;
    height: 50px;
    color: white;
    background-color: rgb(71, 71, 236);
    border-radius: 5px;
    border: none;
    max-width: 200px;
    text-align: center;
    line-height: 50px;
    text-decoration: none;
}
#content {
    padding-bottom: 60px;
    padding-left: 10px;
    padding-right: 10px;
}
#deleteButton {
    width: 100px;
    height: 50px;
    color: white;
    background-color: rgb(71, 71, 236);
    border-radius: 5px;
    border: none;
    position: absolute;
    left: 150px;
    line-height: 50px;
    text-align: center;
    text-decoration: none;
}

#buttonOutside {
    margin-left: 675px;
    margin-top: 50px;
    width: 100px;
    height: 50px;
    color: white;
    background-color: green;
    border-radius: 5px;
    border: none;
}

.container {
    width: 1000px;
    height: 500px;
    margin: 0px auto;
    background-color: rgb(241, 241, 241);
    border-radius: 10px;
    transform: translate(-50%,-50%);
    display: none;
    padding: 10px auto;
    position: absolute;
    top: 50%;
    left: 50%;
}

.background{
    width: 100vw;
    height: 100vh;
    position: absolute;
    display: none;
}

#exit:hover{
    cursor: pointer;
}

.container #exit {
    border-radius: 80%;
    width: 30px;
    height: 30px;
    border: 2px solid black;
    float: right;
    margin: 5px 5px;
}

.container form {
    width: 100%;
    margin: auto;
}

.container h1 {
    text-align: center;
    padding: auto;
}

.container #blogName {
    width: 80%;
    height: 20px;
    margin-left: 90px;
}

.container #yourContent {
    padding: 0 auto;
    width: 80%;
    height: 300px;
    margin-left: 90px;
}

.container input[type=text], #yourContent {
    border-color: rgb(71, 71, 236);
    border-radius: 2px;
}

.container input[type=submit] {
    width: 100px;
    height: 50px;
    color: white;
    background-color: rgb(71, 71, 236);
    border-radius: 5px;
    border: none;
    float: right;
    margin-right: 105px;
}

.container label {
    font-size: 20px;
    margin-left: 90px;
}

.overlay-form {
    display: block;
    z-index: 3;
}

.background-opacity{
    z-index: 2;
    display: block;
    opacity: 0.5;
    background-color: #4b4b4b;
}
.section__edit {
    position: absolute;
    text-align: center;
    margin-top: 30px;
    margin-left: 330px;
}
.section__edit h1 {
    margin-bottom: 15px;
}
#edit__title {
    border: 1px solid green;
    margin-bottom: 10px;
    width: 800px;
    min-height: 30px;
}
#edit__title:focus{
    outline: none;
}

#edit__content{
    border: 1px solid green;
    margin-bottom: 10px;
    width: 800px;
    min-height: 250px;
}

#edit__content:focus{
    outline: none;
}

.btn__edit input {
    padding: 10px;
    color: white;
    background-color: rgb(71, 71, 236);
    border-radius: 5px;
    border: none;
    margin-left: 10px;
    margin-right: 10px;
}